# build output
dist/
dist/**

# generated types
.astro/
.vercel/
.templateengine/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# .NET build output
**/bin/
**/obj/
.dotnet/
.dotnet-cli/
*.user
*.rsuser
*.suo
.vs/
artifacts/widgets/
public/widgets/*.__staging

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/
